<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Génération</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let download of downloads">
      <h2>{{download.title}}</h2>
      <h3>{{download.mangaTitle}}</h3>
      <p>
        <progress-bar [progress]="download.progress"></progress-bar>
      </p>
    </ion-item>
    <ion-item *ngIf="noDownload">
      <p>
        Aucun fichier en cours de génération.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
