<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Archive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let archive of archives">
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <h2>{{archive.title}}</h2>
            <h3>{{archive.mangaTitle}}</h3>
          </ion-col>
          <ion-col col-2>
            <button ion-button (click)="remove(archive)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-2>
            <button ion-button (click)="download(archive)">
              <ion-icon name="download"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <progress-bar *ngIf="archive.id==currentArchiveIdDownload" [progress]="progress"></progress-bar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
